.count_like{
	font-size: 11px;
    position: relative;
    top: 10px;
    line-height: 3;
		padding-left: 14px;
}
.post_shares{
	list-style-type: none;
	font-size: 18px;
}
.article-left{
	float: left;
	width: 10%;
}
.article-right{
	float:left;
	width:90%;
}
.search_user_btn li{
	display:inline;
	padding:0px 15px;
}
.author-image {
    width: 55px;
    max-width: 55px;
}
.bg {
    margin-bottom: 40px;
}
.all-caps a:nth-child(odd){
    background: #e0e0e0;
		color:magnta;
}

.tag-btn {
    background-color: #5de85d6b;
    color: #5c5ce2;
    padding: 5px 8px;
    font-size: 8px;
    font-weight: 500;
    border-radius: 15px;
    line-height: 20px;
    word-break: keep-all;
    white-space: pre;
    letter-spacing: 0px;
    font-family: 'GorditaMedium';
}
.btn-search {
	background-color: #ffcc19;
    padding: 19px;
    font-size: 21px;
    color: #fff;
    border: 2px solid #FFF;
    border-radius: 5px;
		font-family:'GorditaMedium';
}
.dropdown-toggle::after {
    border-right: .0 solid transparent;
    border-left: .0 solid transparent;
}
.search_heading{
	font-size: 22px;
    margin: 16px 0px;
		font-family:'GorditaMedium';
    color: #5f6c77;
}
.widget_recent_entries ul li{
	border-bottom: 1px solid #cccccc69;
    padding: 10px 0px;
    font-size: 17px;
    font-family: 'GorditaMedium';
}
.search-input{
	padding: 20px;
    font-size: 21px;
    color: #000;
    border: 0px;
    border-radius: 5px;
}
.widget .widget-title:before{
	background: url(http://www.sciences.univ-nantes.fr/CEISAM/pix/common/book.png) left bottom no-repeat;
padding-right: 27px;
background-position: center;
position: relative;
right: 5px;
}
}
.dropdown-toggle::after{
	border:0px;
}
.search_panel{
	background-color:#eaeef2;
	padding:40px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -89px;
    z-index: 1000;
    top: 44px;
		padding: 11px 14px;
    border-radius: .25rem;
		min-width: 218px;
}
.dropdown-menu li{
	padding:7px 4px;
	text-align: left;
	display:inline-block;
}
.dropdown-menu li .fa{
	font-size:15px;
	padding:0px 14px 4px 0px;
}
.dropdown-menu li a{
	font-size:15px;
	font-family: 'GorditaMedium';
	color:#20202d;
}
@media(min-width:1550px){
	.container{
		max-width:1520px;
	}
	.latest-posts-widget .retina{
		width:130px;
		height:80px;
	}
}
@font-face {
	font-family: 'GorditaRegular';
	src: url('../fonts/GorditaRegular/GorditaRegular.eot');
	src: local('☺'),
	 url('../fonts/GorditaRegular/GorditaRegular.woff') format('woff'),
	 url('../fonts/GorditaRegular/GorditaRegular.ttf') format('truetype'),
	 url('../fonts/GorditaRegular/GorditaRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GorditaLight';
	src: url('../fonts/GorditaLight/GorditaLight.eot');
	src: local('☺'), url('../fonts/GorditaLight/GorditaLight.woff') format('woff'),
	url('../fonts/GorditaLight/GorditaLight.ttf') format('truetype'),
	 url('../fonts/GorditaLight/GorditaLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GorditaMedium';
	src: url('../fonts/GorditaMedium/GorditaMedium.eot');
	src: local('☺'), url('../fonts/GorditaMedium/GorditaMedium.woff')
	 format('woff'), url('../fonts/GorditaMedium/GorditaMedium.ttf') format('truetype'),
	 url('../fonts/GorditaMedium/GorditaMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GorditaLightItalic';
	src: url('../fonts/GorditaLightItalic/GorditaLightItalic.eot');
	src: local('☺'), url('../fonts/GorditaLightItalic/GorditaLightItalic.woff') format('woff'),
	url('../fonts/GorditaLightItalic/GorditaLightItalic.ttf') format('truetype'),
	 url('../fonts/GorditaLightItalic/GorditaLightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.post .post-title>.title{
	font-family: 'GorditaMedium';
	font-size: 26px;
    color: #4a4a4a;
    text-transform: capitalize;
}
.post .post-content p{
	font-family: 'GorditaRegular';
}
.post .author{
	font-family: 'GorditaMedium';
	color:#4a4a4a;
}
.post .post-comment,.post .post-sharing ,.post .post-views{
	font-family: 'GorditaRegular';
	font-family: 'GorditaMedium';
	color:#c1c1c1;
	font-size:12px;
}
.btn-readmore{
	letter-spacing: 0;
    font-family: 'GorditaRegular';
    box-shadow: 6px 5px 16px -4px #cccccc75;
    width: 111px;
    padding: 7px 1px;
    margin: 0px;
    border-radius: 7%;
}
.viewmore_widget{
	font-family: 'GorditaMedium'
}
.post .post-footer strong{
	padding:0px 5px;
}
@media(max-width:992px){
	.search_user_btn li{
		padding:6px 2px;
	}

	.right-align1{
		-webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
	}
}
@media(max-width:600px){
	.article-left{
		float: none;
		width: 100%;
	}
	.article-right{
		float:none;
		width:100%;
	}
	.post_shares{
		list-style-type: none;
		font-size: 18px;
		padding:0px;
		margin:0px;
	}
	.post_shares li{
		display:inline;
		padding:0px 10px;
	}
	.post .post-title>.title {
    font-family: 'GorditaMedium';
    font-size: 17px;
    color: #4a4a4a;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    display: block;
    line-height: 1.5;
    margin: 13px 0px;
	}
	.author_image{
		float:left;
		width:40px;
		max-width:40px;
	}
}
.market_box1{
	padding:0px;
	margin: 0px;
	line-height: 0;
	background: #fff;
	}
.market_box{
	padding:0px;
	margin: 0px;
	display: flex;
	}
.market_box li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
	font-size: 12px;
	font-weight: normal;
	font-family: 'GorditaMedium';
	padding-top:5px;
	line-height: 1;
	}
	.new{
		border-right:1px solid #f3f3f3;
		padding-right: 70px;
    	padding-left: 70px;
	}
	.market_box img {
 	padding-right: 9px;
 	position: relative;
    bottom: 7px;
}
.post_shares .fa {
	font-size: 33px;
	line-height: 1.5;
}
.fb_circle{
	border: 1px solid gray;
    border-radius: 50%;
    padding: 3px;
    width: 30px;
    height: 30px;
    margin: 0px auto;
}
.fb_circle .fa-facebook{
	font-size: 19px;
    line-height: 1.5;
    padding: 5px;
}
